@tailwind base;
@tailwind components;
@tailwind utilities;

@import "font-awesome/css/font-awesome.css";

@font-face {
  font-family: 'Cooperplate-Gothic-Bold';
  src: url('/fonts/Copperplate-Gothic-Bold.ttf');
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
  color: #666;
  font-weight: 500;
}

.best-world-logo {
  font-family: 'Cooperplate-Gothic-Bold', Helvetica, Arial, Lucida, sans-serif;
}

[x-cloak] {
  display: none !important;
}